/* ==========================================================================
    VARIABLES
   ========================================================================== */
$black: #282828;
$yellow: #FCCD05;
$pink: #FFB38F;
$blue:#17E9E0;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');


$serif_font: 'Lora',
serif;
$sans_font: 'Open Sans',
sans-serif;
;
$helvetica: 'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

$border1: 7px solid;
$border2: 5px dashed;

$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900;
