/* ==========================================================================
    VARIABLES
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
/* ==========================================================================
    GENERAL
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #74f2ec;
}

body,
html {
  color: black;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  scroll-behavior: smooth;
}

header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  padding: 1.5rem 0 1.5rem 0;
  z-index: 200;
}

header .imagotype {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
}

header .imagotype .isotype {
  background-color: #282828;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 0 0 2rem;
}

header .imagotype .logotype {
  font-size: 1.7rem;
  font-weight: 900;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #282828;
  padding: 0 20rem 0 .7rem;
}

header .menu_icon .close {
  display: none;
}

header .menu_icon .show {
  padding: 2% 0 0 0;
  display: none;
  position: absolute;
  top: 26.5%;
  right: 6.5%;
}

header .menu {
  width: 55%;
  font-weight: 600;
  margin: 0 3rem 0 0;
}

header .menu ul {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  font-size: 1.2rem;
}

header li .li-selected {
  border-bottom: 7px solid #FCCD05;
}

header li .li-selected:hover {
  border-bottom: 7px solid #FCCD05;
}

header li a {
  transition: 15ms;
}

header li a:hover {
  border-bottom: 5px dashed #282828;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
}

.box-shadow {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #17E9E0;
}

footer {
  padding: 2.5rem;
  font-size: 1.1rem;
}

footer ul {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

footer ul li {
  margin: 0 1.3rem 0 0;
}

.lang_en {
  font-weight: 900;
}

/*---- Scroll Bar ----*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ==========================================================================
   HOME
   ========================================================================== */
.home_page .border_navbar {
  border-bottom: solid 1.5px #f4f4f4;
  transition: none;
}

.home {
  margin: 0 8rem 0 17rem;
}

.home p {
  font-family: "Lora", serif;
  font-weight: 700;
  color: #282828;
  font-size: 6rem;
  margin: 0;
}

.background .circle {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: #FFB38F;
  position: absolute;
  top: 35%;
  left: 70%;
}

.background .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 120.5px 188.9px 98.5px;
  border-color: transparent transparent #FCCD05 transparent;
  position: absolute;
  top: -18%;
  left: -4%;
  transform: rotate(85deg);
}

.background .rectangle {
  width: 20rem;
  height: 6rem;
  background-color: #17E9E0;
  position: absolute;
  top: 120%;
  left: 20%;
  transform: rotate(-40deg);
}

/* PARALAX */
.parallax {
  perspective: 2px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 200px;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px);
  z-index: -1;
}

/* ==========================================================================
   PROJECTS
   ========================================================================== */
.projects {
  color: white;
  background-color: #282828;
  padding: 5rem 0 0 0;
  /*---- Scroll Bar ----*/
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.projects .navBar {
  background-color: inherit;
  color: inherit;
}

.projects .navBar .imagotype .isotype {
  background-color: white;
}

.projects .navBar .imagotype .logotype {
  color: white;
  font-weight: 700;
}

.projects .navBar li .li-selected {
  border-bottom: 7px solid #FFB38F;
}

.projects .navBar li .li-selected:hover {
  border-bottom: 7px solid #FFB38F;
}

.projects .navBar li a:hover {
  border-bottom: 5px dashed white;
}

.projects main .our_projects .project {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-bottom: solid 1.5px #3a3a3a;
  padding: 6rem 2rem 6rem 5rem;
}

.projects main .our_projects .project .project_logo {
  width: 10%;
  margin: .8rem 0 0 0;
}

.projects main .our_projects .project .project_logo img {
  object-fit: contain;
  object-position: top;
  width: 100%;
  height: 100%;
}

.projects main .our_projects .project .project_main {
  width: 70%;
}

.projects main .our_projects .project .project_main a:hover h2,
.projects main .our_projects .project .project_main a:hover h3 {
  color: #FFB38F;
  transition: .5s;
}

.projects .border_navbar {
  border-bottom: solid 1.5px #3a3a3a;
  transition: none;
}

.projects ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.projects ::-webkit-scrollbar-thumb {
  background: #FFB38F;
}

.projects ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ==========================================================================
   RESEARCH
   ========================================================================== */
.research {
  color: #282828;
  background-color: #FFB38F;
  padding: 5rem 0 0 0;
}

.research .navBar {
  background-color: #FFB38F;
  color: #282828;
}

.research .navBar .imagotype .isotype {
  background-color: #282828;
}

.research .navBar .imagotype .logotype {
  color: #282828;
  font-weight: #282828;
}

.research .navBar li .li-selected {
  border-bottom: 7px solid white;
}

.research .navBar li .li-selected:hover {
  border-bottom: 7px solid white;
}

.research .navBar li a:hover {
  border-bottom: 5px dashed white;
}

.research main .research .paper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-bottom: solid 1.5px #ffcbb3;
  padding: 6rem 2rem 6rem 5rem;
}

.research main .research .paper .paper_date {
  width: 10%;
  margin: .8rem 0 0 0;
}

.research main .research .paper .paper_date img {
  object-fit: contain;
  object-position: top;
  width: 100%;
  height: 100%;
}

.research main .research .paper .paper_main {
  width: 70%;
}

.research main .research .paper .paper_main .paper_authors {
  margin: 1.5rem 0 0 0;
}

.research main .research .paper .paper_main a:hover h2 {
  transition: 1s ease-in-out;
  text-decoration: underline;
}

.research .border_navbar {
  border-bottom: solid 1.5px #ffcbb3;
  transition: none;
}

/* ==========================================================================
   TEAM
   ========================================================================== */
.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 300ms ease-in-out;
  mix-blend-mode: hard-light;
  /*&:hover {
        @include grayscale_element(0);
        mix-blend-mode: normal;
        transition: all 300ms ease-in-out;
    }*/
}

.team {
  color: #282828;
  background-color: #a3f6f3;
  padding: 5rem 0 0 0;
}

.team .navBar {
  background-color: inherit;
  color: #282828;
}

.team .navBar .imagotype .isotype {
  background-color: #282828;
}

.team .navBar .imagotype .logotype {
  color: #282828;
  font-weight: #282828;
}

.team .navBar li .li-selected {
  border-bottom: 7px solid white;
}

.team .navBar li .li-selected:hover {
  border-bottom: 7px solid white;
}

.team .navBar li a:hover {
  border-bottom: 5px dashed white;
}

.team main .teammates .teammate {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-bottom: solid 1.5px #d1fbf9;
  padding: 6rem 5rem 6rem 10rem;
}

.team main .teammates .teammate .mate_img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  /* &:hover {
                        border: $black solid 5px;
                    }*/
}

.team main .teammates .teammate .mate_img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.team main .teammates .teammate .mate_info {
  width: 70%;
}

.team main .teammates .teammate .mate_info a:hover h2,
.team main .teammates .teammate .mate_info a:hover h3 {
  transition: 1s ease-in-out;
  text-decoration: underline;
}

.team .border_navbar {
  border-bottom: solid 1.5px #d1fbf9;
  transition: none;
}

/* ==========================================================================
   ABOUT
   ========================================================================== */
.about main .about_description {
  border-bottom: solid 1.5px #c1c1c1;
  padding: 9rem 3rem 6rem 7rem;
}

.about main .location {
  padding: 4rem 3rem 6rem 7rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.about main .location .col1 {
  width: 50%;
}

.about main .location .col1 .location_map {
  height: 500px;
  width: 700px;
  background-color: #FCCD05;
}

.about main .location .col1 .map-responsive {
  overflow: hidden;
  padding: 36.25%;
  position: relative;
  height: 100%;
  width: 100%;
}

.about main .location .col1 .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.about main section:last-child {
  border-bottom: solid 1.5px #c1c1c1;
}

.about h1 {
  font-size: 4rem;
  font-weight: 400;
}

.about h2 {
  color: #282828;
  font-size: 2rem;
  width: 100%;
  padding: 1rem 0 .5rem 0;
}

.about h3 {
  color: #282828;
  font-size: 2rem;
}

.about p {
  font-size: 1.5rem;
}

.about .border_navbar {
  border-bottom: solid 1.5px #c1c1c1;
  transition: none;
}

/* =========================================================================
TYPOGRAPHY
   ========================================================================== */
a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

p {
  font-size: 2rem;
}

h1 {
  font-family: "Lora", serif;
  font-weight: 700;
  color: #282828;
  font-size: 8rem;
  margin: 0;
}

h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
  /* &::selection {
        background-color: red;
    }*/
}

h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
}

h4 {
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 1.7rem;
  margin: 0;
}

ul {
  list-style: none;
}

/* =========================================================================
RESPONSIVE
   ========================================================================== */
@media (max-width: 940px) {
  header {
    padding: 1.5rem 0 1.6rem 0;
  }
  header .menu {
    width: 100%;
    font-weight: 600;
    margin: 0;
    padding: 2rem 3rem 0 3rem;
  }
  header .menu ul {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .home {
    margin: 0 4rem 0 7rem;
  }
  .home p {
    font-size: 3.5rem;
  }
  .home h1 {
    font-size: 6rem;
  }
  .projects main .our_projects {
    padding: 3.5rem 0 0 0;
  }
  .projects main .our_projects .project {
    padding: 3rem 1rem 3rem 3rem;
  }
  .projects main .our_projects .project h2 {
    font-size: 3rem;
  }
  .projects main .our_projects .project h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  header {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 1rem 0 .7rem 0;
  }
  header .imagotype {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
  }
  header .imagotype .isotype {
    background-color: #282828;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0 0 0 2rem;
  }
  header .imagotype .logotype {
    font-size: 1.7rem;
    font-weight: 900;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
    padding: 0 0 0 .7rem;
  }
  header .menu_icon {
    padding: 0;
  }
  header .menu_icon .close {
    position: absolute;
    display: none;
    top: 5%;
    right: 6.5%;
  }
  header .menu_icon .show {
    padding: 0;
    display: unset;
  }
  header .menu {
    width: 100%;
    font-weight: 600;
    margin: 0;
    padding: 2rem 3rem 0 3rem;
    display: none;
  }
  header .menu ul {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    font-size: 1.5rem;
  }
  header .menu ul li {
    padding: .8rem 0 0 0;
  }
  .home {
    margin: 0 1.6rem 0 2.5rem;
    padding: 1rem 0 0 0;
  }
  .home p {
    font-size: 2.5rem;
  }
  .home h1 {
    font-size: 3.8rem;
  }
  .projects main .our_projects {
    padding: 3.5rem 0 0 0;
  }
  .projects main .our_projects .project {
    padding: 2rem 1rem 2rem 2rem;
  }
  .projects main .our_projects .project h2 {
    font-size: 1.6rem;
  }
  .projects main .our_projects .project h3 {
    font-size: 1rem;
  }
  .research main .research .paper {
    flex-flow: column wrap;
    padding: 2rem 1rem 2rem 4rem;
    width: 100%;
  }
  .research main .research .paper .paper_date {
    width: 100%;
    margin: 0 0 .5rem 0;
    color: white;
  }
  .research main .research .paper .paper_title {
    width: 100%;
  }
  .research main .research .paper h2 {
    font-size: 2rem;
  }
  .research main .research .paper h3 {
    font-size: 1.5rem;
  }
  .team main .teammates .teammate {
    padding: 3rem 2rem 3rem 2rem;
  }
  .team main .teammates .teammate h2 {
    font-size: 2rem;
  }
  .team main .teammates .teammate p {
    font-size: 1.5rem;
  }
  .about main .about_description {
    padding: 9rem 2rem 3rem 2rem;
  }
  .about main .about_description h1 {
    font-size: 2rem;
  }
  .about main .location {
    padding: 4rem 1rem 3rem 3rem;
  }
  footer {
    padding: 2.5rem 0 2.5rem 0;
    font-size: .9rem;
    width: 100%;
    text-align: center;
  }
  footer ul {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
  }
  footer ul li {
    margin: 0 1.3rem 0 0;
  }
  .background .circle {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: #FFB38F;
    position: absolute;
    top: 35%;
    left: 60%;
  }
  .background .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 120.5px 188.9px 98.5px;
    border-color: transparent transparent #FCCD05 transparent;
    position: absolute;
    top: -18%;
    left: -4%;
    transform: rotate(85deg);
  }
  .background .rectangle {
    width: 20rem;
    height: 6rem;
    background-color: #17E9E0;
    position: absolute;
    top: 140%;
    left: 20%;
    transform: rotate(-40deg);
  }
}
